---
import BaseLayout from '../layouts/BaseLayout.astro'
export async function createCollection() {
  const allProjects = Astro.fetchContent('../md/projekty/*.md');

  return {
    paginate: true,
    route: '/projekty/:page?',
    async props({paginate}) {
      return {
        projects: paginate(allProjects, {pageSize: 5}),
      };
    },
  };
}
const {projects} = Astro.props;
function elUndefined (element) {
    if (typeof element == "undefined") {
        return true
    }
    return false
}
---
<BaseLayout title="Daniel Kalivoda - Product designer, UI developer" description="Mám rád funkční věci, které vycházejí z vysokých nároků klienta. Navrhuji weby, mobilní aplikace a UI/UX interních informačních systémů.">
    <main>
      <h5>Results {projects.start + 1}–{projects.end + 1} of {projects.total}</h5>
        {projects.data.map((project) => (
            <div>
                <h1>{project.title}</h1>
                <div>{project.description}</div>
            </div>
        ))}
    </main>
    <footer>
      <h4>Page {projects.page.current} / {projects.page.last}</h4>
      <nav class="nav">
        {!elUndefined(projects.url.prev) && (
            <a class="prev" href={projects.url.prev || '#'}>Předchozí</a>
        )}
        {elUndefined(projects.url.prev) && (
            <div>tady</div>
        )}
        {!elUndefined(projects.url.next) && (
            <a class="next" href={projects.url.next} >Další</a>
        )}
      </nav>
    </footer>
</BaseLayout>
